@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  display: block;
}

.hidden {
  display: none !important;
}

html {
  font-family: "Roboto";
}

body {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.sign-up {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.sign-up .illustration #img-mobile {
  width: 100%;
}
.sign-up .illustration #img-desktop {
  display: none;
}
.sign-up .text {
  flex-grow: 1;
  padding: 25px;
  display: flex;
  flex-direction: column;
}
.sign-up .text h1 {
  color: hsl(234, 29%, 20%);
  margin-bottom: 20px;
  font-style: bold;
}
.sign-up .text p {
  color: hsl(234, 29%, 20%);
  margin-bottom: 20px;
}
.sign-up .text ul {
  margin-bottom: 20px;
}
.sign-up .text ul li {
  display: flex;
  margin-bottom: 15px;
  color: hsl(234, 29%, 20%);
}
.sign-up .text ul li i {
  margin-right: 15px;
}
.sign-up .text form {
  margin-top: auto;
  margin-bottom: 20px;
}
.sign-up .text form .email-input {
  width: 100%;
  position: relative;
}
.sign-up .text form .email-input label {
  font-size: 12px;
  color: hsl(234, 29%, 20%);
  font-weight: bold;
}
.sign-up .text form .email-input input {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 20px;
  outline: none;
  border-radius: 10px;
  border: 1px solid hsl(231, 7%, 60%);
  font-size: 16px;
  color: hsl(235, 18%, 26%);
}
.sign-up .text form .email-input input:focus {
  border-color: hsl(235, 18%, 26%);
}
.sign-up .text form .email-input .error {
  border-color: hsl(4, 100%, 67%);
  background-color: #ffe2e0;
}
.sign-up .text form .email-input .error-message {
  color: hsl(4, 100%, 67%);
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  bottom: 85px;
  right: 0px;
}

.success {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.success img {
  margin-top: 120px;
}
.success h1 {
  margin-top: 35px;
  color: hsl(234, 29%, 20%);
}
.success p {
  margin-top: 20px;
  color: hsl(234, 29%, 20%);
}
.success p #success-email {
  font-weight: bold;
}
.success button {
  margin-top: auto;
  margin-bottom: 20px;
}

.btn {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  background-color: hsl(234, 29%, 20%);
}

.btn:hover {
  background: linear-gradient(90deg, hsl(4, 100%, 67%), orangered);
  box-shadow: 0px 7px 20px hsl(4, 100%, 67%);
}

.btn:focus {
  background: linear-gradient(90deg, hsl(4, 100%, 67%), orangered);
  box-shadow: 0px 7px 20px hsl(4, 100%, 67%);
}

@media screen and (min-width: 576px) {
  body {
    background-color: hsl(235, 18%, 26%);
    justify-content: center;
    align-items: center;
  }
  .sign-up {
    background: white;
    flex-grow: unset;
    flex-direction: row-reverse;
    padding: 20px;
    border-radius: 20px;
  }
  .sign-up .illustration {
    display: none;
  }
  .sign-up .illustration #img-mobile {
    display: none;
  }
  .sign-up .illustration #img-desktop {
    display: block;
  }
  .sign-up .text {
    max-width: 420px;
    justify-content: center;
  }
  .sign-up .text h1 {
    font-size: 56px;
  }
  .sign-up .text form {
    margin-top: unset;
  }
  .success {
    flex: unset;
    width: 460px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    padding: 50px;
  }
  .success img {
    margin-top: unset;
  }
  .success h1 {
    font-size: 56px;
  }
  .success button {
    margin-top: 40px;
    margin-bottom: unset;
  }
}
@media screen and (min-width: 846px) {
  .sign-up .illustration {
    display: block;
  }
  .sign-up .text {
    margin-inline-end: 25px;
  }
  .sign-up .text h1 {
    margin-bottom: 30px;
  }
  .sign-up .text p {
    margin-bottom: 30px;
  }
  .sign-up .text ul {
    margin-bottom: 30px;
  }
}/*# sourceMappingURL=style.css.map */