*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  display: block;
}

.hidden {
  display: none;
}

/* For Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html {
  font-family: "Space Mono", monospace;
  font-weight: 700;
}

body {
  min-height: 100svh;
  display: flex;
  background-color: hsl(185, 41%, 84%);
}
body main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .logo {
  padding: 40px;
  display: flex;
  justify-content: center;
}
body main .tip-calculator {
  flex: 1;
  padding-bottom: 20px;
  background-color: white;
  border-start-start-radius: 25px;
  border-start-end-radius: 25px;
}
body main .tip-calculator form {
  padding: 30px;
}
body main .tip-calculator form label {
  color: hsl(186, 14%, 43%);
}
body main .tip-calculator form input {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  padding-right: 20px;
  border-radius: 7px;
  background-color: hsl(189, 41%, 97%);
  border: none;
  text-align: right;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 24px;
}
body main .tip-calculator form input:focus {
  outline: 2px solid hsl(184, 14%, 56%);
}
body main .tip-calculator form .input {
  position: relative;
}
body main .tip-calculator form .input img {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
body main .tip-calculator form .input .error {
  border: 2px solid tomato;
}
body main .tip-calculator form .input .error-message {
  position: absolute;
  top: 0px;
  right: 0px;
  color: tomato;
}
body main .tip-calculator form .tip-input {
  margin-top: 40px;
  margin-bottom: 40px;
}
body main .tip-calculator form .tip-input .tip-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
body main .tip-calculator form .tip-input .tip-buttons button {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 24px;
  padding: 7px;
  border-radius: 5px;
  background-color: hsl(183, 100%, 15%);
  color: white;
}
body main .tip-calculator form .tip-input .tip-buttons button:hover {
  background-color: hsl(186, 14%, 43%);
}
body main .tip-calculator form .tip-input .tip-buttons button.active {
  background-color: hsl(186, 14%, 43%);
}
body main .tip-calculator form .tip-input .tip-buttons #custom {
  margin-top: unset;
  background-color: hsl(189, 41%, 97%);
  color: #4f6769;
}
body main .tip-calculator .result {
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: hsl(183, 100%, 15%);
}
body main .tip-calculator .result div {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
body main .tip-calculator .result div span {
  color: #b9c9ca;
}
body main .tip-calculator .result div .value {
  font-size: 34px;
  color: #b9c9ca;
}
body main .tip-calculator .result button {
  margin-top: 30px;
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  background-color: hsl(184, 14%, 56%);
  color: hsl(183, 100%, 15%);
}
body main .tip-calculator .result button:hover {
  background-color: hsl(185, 41%, 84%);
}

@media screen and (min-width: 576px) {
  main {
    align-items: center;
  }
  main .tip-calculator {
    max-width: 576px;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    padding: 0px !important;
    padding-bottom: 20px !important;
  }
  .tip-calculator {
    display: flex;
    flex: unset !important;
    max-width: 960px !important;
    margin: 0 20px;
    padding-bottom: unset !important;
    border-radius: 20px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2);
  }
  .tip-calculator form {
    flex: 1;
    padding: 40px !important;
  }
  .tip-calculator form .tip-input .tip-buttons {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
  .tip-calculator .result {
    flex: 1;
    position: relative;
  }
  .tip-calculator .result button {
    position: absolute;
    width: calc(100% - 80px) !important;
    bottom: 40px;
    right: 40px;
  }
}
@media screen and (min-width: 1400px) {
  .logo {
    padding: 80px !important;
  }
  .tip-calculator {
    margin-bottom: 200px !important;
  }
}/*# sourceMappingURL=style.css.map */