/* Variables */
/* RESET & DEFAULT */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

img, ion-icon {
  display: block;
}

html {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

body {
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(210, 46%, 95%);
  padding: 20px;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  overflow: auto;
}

/* Article Card */
/* Mobile */
.article-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 6px 6px 5px hsla(0, 0%, 0%, 0.02), 25px 25px 20px hsla(0, 0%, 0%, 0.03), 100px 100px 80px hsla(0, 0%, 0%, 0.05);
}
.article-card .img-box {
  width: 100%;
  height: 220px;
  overflow: hidden;
}
.article-card .img-box .article-banner {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 10px 10px 0 0;
}
.article-card .article-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 30px 20px 30px;
  border-radius: 0 0 10px 10px;
}
.article-card .article-content .article-title {
  font-size: 17px;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
  margin-block-end: 20px;
}
.article-card .article-content .article-text {
  font-size: 14px;
  color: #4D556B;
  margin-block-end: 20px;
}
.article-card .article-content .article-content-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0 0;
  position: relative;
}
.article-card .article-content .article-content-footer .author {
  display: flex;
}
.article-card .article-content .article-content-footer .author .author-avatar {
  border-radius: 50%;
  margin-inline-end: 14px;
}
.article-card .article-content .article-content-footer .author .author-name {
  font-size: 14px;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}
.article-card .article-content .article-content-footer .author .publish-date {
  font-size: 13px;
  color: #4D556B;
}
.article-card .article-content .article-content-footer .share .share-button {
  position: relative;
  padding: 8px;
  border-radius: 50%;
  background-color: hsl(210, 46%, 95%);
  color: #4D556B;
  font-size: 16px;
  z-index: 2;
  transition: all 0.2s ease;
}
.article-card .article-content .article-content-footer .share .share-button:hover, .article-card .article-content .article-content-footer .share .share-button.active {
  background-color: hsl(212, 23%, 69%);
  color: hsl(210, 46%, 95%);
}
.article-card .article-content .article-content-footer .share .share-option {
  position: absolute;
  visibility: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% + 60px);
  left: -30px;
  bottom: -20px;
  padding: 30px;
  background-color: hsl(217, 19%, 35%);
  transition: all 0.2s ease;
  transform: translate(0, 100%) scale(0);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.article-card .article-content .article-content-footer .share .share-option.active {
  visibility: visible;
  transform: translate(0px, 0px) scale(1);
}
.article-card .article-content .article-content-footer .share .share-option span {
  font-size: 14px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: hsl(212, 23%, 69%);
  margin-inline-end: 20px;
}
.article-card .article-content .article-content-footer .share .share-option ion-icon {
  font-size: 24px;
  margin-inline-end: 10px;
}
.article-card .article-content .article-title:hover,
.article-card .article-content .author-name:hover,
.article-card .article-content .share-option ion-icon:hover {
  filter: invert(1);
}

/* Desktop */
@media screen and (min-width: 768px) {
  .container {
    overflow: visible;
  }
  .article-card {
    flex-direction: row;
    max-width: 730px;
    overflow: visible;
  }
  .article-card .img-box {
    width: 290px;
    height: 275px !important;
  }
  .article-card .img-box .article-banner {
    -o-object-position: left;
       object-position: left;
    height: 100%;
    border-radius: 10px 0 0 10px;
  }
  .article-card .article-content {
    max-width: 440px;
    align-items: flex-start;
    border-radius: 0 10px 10px 0;
  }
  .article-card .article-content .article-title {
    font-size: 20px;
    max-inline-size: 28ch;
  }
  .article-card .article-content .article-text {
    font-size: 13px;
    max-inline-size: 100ch;
  }
  .article-card .article-content .article-content-footer {
    position: relative;
    padding: 0 0 10px 0;
  }
  .article-card .article-content .article-content-footer .share .share-option {
    width: unset !important;
    left: calc(65% + 12px);
    justify-content: center !important;
    bottom: calc(100% + 20px);
    padding: 15px 30px;
    z-index: 1;
    border-radius: 10px;
    gap: 10px;
  }
  .article-card .article-content .article-content-footer .share .share-option span {
    font-size: 12px;
    margin-inline-end: unset;
  }
  .article-card .article-content .article-content-footer .share .share-option ion-icon {
    font-size: 20px;
    margin-inline-end: unset;
  }
  .article-card .article-content .article-content-footer .share .share-option::after {
    content: "";
    background-color: hsl(217, 19%, 35%);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -60%) rotate(45deg);
  }
}/*# sourceMappingURL=style.css.map */