.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "Young Serif";
  src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
  font-style: normal;
}
h2, h1 {
  font-family: "Young Serif";
  font-weight: 400;
  margin-bottom: 16px;
}

h1 {
  color: hsl(24, 5%, 18%);
}

h2 {
  color: hsl(14, 45%, 36%);
}

#time {
  font-family: "Outfit";
  color: hsl(332, 51%, 32%);
  font-weight: 600;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(30, 54%, 90%);
  padding: 110px 24px;
  font-family: "Outfit";
  min-height: 100svh;
}
@media (max-width: 576px) {
  body {
    border-radius: 0;
    padding: 0;
  }
}

.recipe {
  background-color: hsl(0, 0%, 100%);
  width: 720px;
  border-radius: 20px;
}
@media (max-width: 576px) {
  .recipe {
    border-radius: 0;
  }
}
@media (min-width: 576px) {
  .recipe .image {
    padding: 40px 40px 0 40px;
  }
}
.recipe .image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
@media (max-width: 576px) {
  .recipe .image img {
    border-radius: 0px;
  }
}
.recipe .text {
  padding: 0px 40px 24px 40px;
}
.recipe section {
  margin: 30px 0px;
}
.recipe section:last-child {
  margin-bottom: 0px;
}
.recipe hr {
  background-color: hsl(30, 18%, 87%);
}
.recipe p {
  color: hsl(332, 51%, 32%);
}
.recipe span {
  font-weight: 700;
}
.recipe ul, .recipe ol {
  margin-left: 24px;
}
.recipe ul li, .recipe ol li {
  margin-bottom: 12px;
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}
.recipe ul p, .recipe ol p {
  margin-left: 12px;
  font-weight: 400;
}
.recipe .preparation-time {
  background-color: hsl(330, 100%, 98%);
  padding: 24px;
  border-radius: 10px;
}
.recipe .preparation-time h3 {
  margin-bottom: 16px;
}
.recipe table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}
.recipe table tr {
  border-bottom: 1px solid hsl(14, 45%, 36%);
}
.recipe table tr:last-child {
  border-bottom: none;
}
.recipe table tr th, .recipe table tr td {
  padding: 12px 0;
}
.recipe table tr th p, .recipe table tr td p {
  text-align: start;
  font-weight: 400;
  margin-left: 24px;
}
.recipe table tr th span, .recipe table tr td span {
  color: hsl(14, 45%, 36%);
}