@import "config";

// RESET AND DEFAULT
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    // outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

img, ion-icon {
    display: block;
}

li {
    list-style-type: none;
}

// STYLES
.hidden {
    display: none!important;
}

.visually-hidden {
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

ion-icon[name="cart-outline"] {
    color: $very-dark-blue;
    font-size: 1.65rem;
}

html {
    font-size: 1rem;
    font-family: "Kumbh Sans", sans-serif;
    line-height: 1.5;
}

body {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.70);
    z-index: 2;
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    transition: left .2s ease-in-out;
    inset: 0;
}

.show-overlay {
    display: block !important;
}

        #lightbox {
            position: fixed;
            min-height: 100svh;
            width: 100%;
            z-index: 3;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            .images {

                .closing-btn {
                    display: flex;
                    justify-content: end;
                    margin-block-end: 20px;

                    #close-lightbox {
                        background: transparent;
    
                        ion-icon {
                            font-size: 2rem;
                            color: $orange;
                        }
                    }
                }
                
                .carousel {
                    flex: 1;
                    min-width: 400px;
                    height: 450px;
                    position: relative;
    
                    .slide {
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        inset: 0;
                        opacity: 0;
                        transition: opacity .3s ease;
    
                        &[data-active] {
                            opacity: 1;
                        }

                        button {
                            max-width: calc(100% - 40px);
                            border-radius: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
    
                        img {
                            max-width: 100%;
                            height: auto;
                            max-height: unset;
                            border-radius: 20px;
                        }

                    }
                }

                .images-thumbnail {
                    max-width: calc(100% - 40px);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 30px;
                    margin-block-start: 30px;
                    margin-inline-start: 20px;

                    button {
                        background-color: transparent;
                        border-radius: 16px;

                        img {
                            width: 100%;
                            min-width: 66px;
                            max-width: 90px;
                            height: auto;
                            border-radius: 15px;
                        }

                        &:hover, &:focus, &[data-active="true"] {

                            img {
                                border: 2px solid $orange;
                                opacity: .5;
                            }
                        }
                    }
                }

                .navigator {

                    button {
                        position: absolute;
                        top: calc(50% - 20px);
                        background-color: white;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        &:hover {
                            ion-icon {
                                color: $orange;
                            }
                        }
    
                        ion-icon {
                            font-size: 1.25rem;
                        }
                    }
    
                    .previous {
                        left: 10px;
    
                        ion-icon {
                            margin-inline-end: 2px;
                        }
                    }
    
                    .next {
                        right: 10px;
    
                        ion-icon {
                            margin-inline-start: 2px;
                        }
                    }
                }
            }    
        }

header {
    width: 100%;
    max-width: 1200px;
    display: flex;
    padding: 20px;

    .space {
        width: 15px;
    }

    .container-logo {
        display: flex;
        align-items: center;

        #open-menu {
            
            ion-icon {
                background-color: white;
                font-size: 1.5rem;
            }
        }
    }

    #mobile-nav {
        position: absolute;
        z-index: 3;
        background-color: white;
        min-height: 100%;
        top: 0;
        left: -260px;
        width: 260px;
        padding: 15px 25px;
        transition: left .2s ease-in-out;

        &.show-mobile-nav {
            left: 0 !important;
        }
        
        button {
            background-color: white;
            margin-block-end: 50px;

            ion-icon {
                font-size: 1.5rem;
            }

            &:hover {
                color: $vark-grayish-blue;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
            
            a {
                font-weight: 700;
                color: $very-dark-blue;
            }
        }
    }

    .desktop-nav {
        display: none;
    }

    .user {
        display: flex;
        align-items: center;
        margin-inline-start: auto;
        position: relative;

        button {
            background-color: white;
        }

        #cart {
            position: relative;

            span {
                position: absolute;
                top: -5px;
                background-color: $orange;
                color: $pale-orange;
                border-radius: 1rem;
                width: 1.5rem;
                height: 1rem;
            }
        }

        #cart-box {
            position: absolute;
            z-index: 3;
            background-color: white;
            border-radius: 10px;
            width: 345px;
            right: -5px;
            top: 55px;
            min-height: 250px;
            max-height: 250px;
            display: flex;
            flex-direction: column;

            & > p {
                color: $very-dark-blue;
                font-weight: 700;
                border-block-end: 1px solid rgba(0, 0, 0, 0.301);
                padding: 20px;
            }

            .cart-content {
                padding: 20px;
                flex: 1;
                display: flex;
                justify-content: center;
                width: 100%;

                & > p { 
                    font-weight: bold;
                    color: $vark-grayish-blue;
                    align-self: center;
                }

                #filled {
                    width: 100%;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
    
                    .cart-product {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
    
                        img {
                            width: 48px;
                            height: auto;
                            border-radius: 5px;
                        }

                        p {
                            color: $vark-grayish-blue;
                        }

                        #product-total {
                            font-weight: bold;
                            color: $very-dark-blue;
                        }

                        ion-icon {
                            font-size: 1.2rem;
                            color: $vark-grayish-blue;
                        }
                    }

                    & > button {
                        margin-block-start: auto;
                        background-color: $orange;
                        height: 56px;
                        border-radius: 10px;
                        font-size: 0.9rem;
                        font-weight: 700;
                        color: $very-dark-blue;
                    }
                }
            }
        }

        #profile {
            width: 24px!important;
            height: auto!important;
        }
    }
}

main {
    flex: 1;

    .images {

        .carousel {
            position: relative;
            height: 300px;

            .slide {
                position: absolute;
                inset: 0;
                opacity: 0;
                transition: opacity .3s ease;

                &[data-active] {
                    opacity: 1;
                }
            }

            li > button {
                width: 100%;
                background-color: transparent;

                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }
            }

            .navigator {

                button {
                    position: absolute;
                    top: calc(50% - 20px);
                    background-color: white;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        ion-icon {
                            color: $orange;
                        }
                    }

                    ion-icon {
                        font-size: 1.25rem;
                    }
                }

                #previous {
                    left: 15px;

                    ion-icon {
                        margin-inline-end: 2px;
                    }
                }

                #next {
                    right: 15px;

                    ion-icon {
                        margin-inline-start: 2px;
                    }
                }
            }
        }

        .images-thumbnail {
            display: none;
        }
    }

    .text {
        padding: 20px;

        & > * {
            margin-block-end: 15px;
        }

        .brand {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 0.75rem;
            font-weight: 700;
            color: $vark-grayish-blue;
            margin-block-end: 10px;
        }

        h2 {
            font-size: 1.75rem;
            line-height: 1.1;
            color: $very-dark-blue;
        }

        .description {
            font-size: 0.938rem;
            color: $vark-grayish-blue;
        }

        .price {
            display: flex;
            align-items: center;

            .price-new {
                font-size: 1.75rem;
                font-weight: 700;
                color: $very-dark-blue;
            }

            .promo {
                background-color: $very-dark-blue;
                color: white;
                font-size: 1rem;
                font-weight: 700;
                padding: 3px 10px;
                border-radius: 5px;
                margin-inline-start: 10px;
            }

            .price-old {
                margin-inline-start: auto;
                text-decoration: line-through;
                font-weight: 700;
                color: $vark-grayish-blue;
            }
        }

        .product-add {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .input-control {
                position: relative;

                // Removing the arrows in the input[type="number"]
                input[type="number"]::-webkit-outer-spin-button,
                input[type="number"]::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
                }

                input {
                    background-color: $light-grayish-blue;
                    width: 100%;
                    height: 56px;
                    outline: none;
                    border: none;
                    border-radius: 10px;
                    text-align: center;
                    font-size: 1rem;
                    font-weight: 700;
                }

                button {
                    background-color: transparent;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 5px;
                    width: 48px;
                    height: 48px;

                    &:hover {
                        ion-icon {
                            color: $orange;
                        }
                    }

                    ion-icon {
                        font-size: 1.2rem;
                        color: $orange;

                        &:hover {
                            color: lighten($orange, 10);
                        }
                    }
                }

                .minus {
                    left: 5px;
                }

                .plus {
                    right: 5px;
                }
            }

            #addBtn {
                height: 56px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
                border-radius: 10px;
                background-color: $orange;
                color: $very-dark-blue;
                font-size: 1rem;
                font-weight: bold;
                box-shadow: 0px 10px 40px -15px $orange;

                &:hover {
                    background-color: lighten($orange, 10);
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {

    body {
        position: relative;

        #lightbox {
            .images {

                .carousel {
                    flex: 1;
                    min-width: 500px;

                    .slide {
                        button {
                            max-width: calc(100% - 40px);
                            border-radius: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        img {
                            max-width: 100%;
                            height: auto;
                            max-height: unset;
                            border-radius: 20px;
                        }
                    }
                }

                .images-thumbnail {
                    max-width: calc(100% - 40px);
                    margin-inline-start: 20px;
                    justify-content: center;
                    align-items: center;
                }

                .navigator {
                    .previous {
                        left: 0px;
                    }

                    .next {
                        right: 0px;
                    }
                }
            }
        }
    }
    
    header {
        max-width: 1120px;
        padding: 40px 20px;
        border-block-end: 1px solid rgba(0, 0, 0, 0.2);

        .container-logo {

            .space {
                width: 0px;
            }

            #open-menu {
                display: none;
            }
        }

        nav {
            display: flex;
            align-items: center;

            .desktop-nav {
                display: flex;
                gap: 30px;
                margin-inline-start: 50px;

                a {
                    color: $vark-grayish-blue;

                    &:hover {
                        color: $very-dark-blue;
                        font-weight: normal;
                    }
                }
            }
        }

        .user {
            .space {
                width: 30px;
            }

            #cart-box {
                top: 60px;
                left: -240px;
                box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.2);
            }

            #profile {
                width: 36px!important;
            }

        }
    }

    main {
        width: 100%;
        max-width: 1060px;
        display: flex;
        justify-content: center;
        align-items: start;
        padding: 0px 20px;
        margin: 80px 0px;

        section {
            flex: 1;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;

            .images {
                
                .carousel {
                    flex: 1;
                    min-width: 400px;
                    height: 450px;
                    position: relative;
    
                    .slide {
                        position: absolute;
                        inset: 0;
                        opacity: 0;
                        transition: opacity .3s ease;
    
                        &[data-active] {
                            opacity: 1;
                        }
    
                        img {
                            max-width: 450px;
                            height: auto;
                            max-height: unset;
                            border-radius: 20px;
                        }

                    }
                }

                .images-thumbnail {
                    display: flex;
                    gap: 30px;
                    margin-block-start: 30px;

                    button {
                        background-color: transparent;
                        border-radius: 16px;

                        img {
                            width: 100%;
                            min-width: 66px;
                            max-width: 90px;
                            height: auto;
                            border-radius: 15px;
                        }

                        &:hover, &:focus, &[data-active="true"] {

                            img {
                                border: 2px solid $orange;
                                opacity: .5;
                            }
                        }
                    }
                }

                .navigator {
                    display: none!important;
                }
            }            
    
            .text {
                flex: 1;
                min-width: 354px;
                max-width: 450px;
                padding: 0px;

                h2 {
                    font-size: 3rem;
                    margin-block-end: 30px;
                }

                .price {
                    display: grid;
                    grid-template-rows: auto auto;
                    justify-content: flex-start;
                    gap: 5px;

                    .price-new {
                        grid-row: 1;
                        width: fit-content;
                    }

                    .promo {
                        grid-row: 1;
                        width: fit-content;
                    }

                    .price-old {
                        grid-row: 2;
                        margin-inline-end: 100%;
                    }
                }

                .product-add {
                    flex-direction: row;
                    margin-block-start: 30px;

                    input {
                        min-width: 150px;
                    }

                    #addBtn {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1300px) {
    #cart-box {
        left: -160px !important;
    }
}