@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

*, ::after, ::before {
    box-sizing: unset;
}

body {
    margin: 0;
    padding: 0;
    line-height: unset;
}







body {
    height: 100vh;
    background-color: #141519;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rating {
    margin: 3em;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    background: rgb(23,30,40);
    background: linear-gradient(0deg, rgba(23,30,40,1) 35%, rgba(35,42,50,1) 100%);
    font-family: 'Overpass', sans-serif;
    border-radius: 7%;
}

.icon-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    overflow: hidden;
    background-color: hsl(217, 19%, 22%);
    border-radius: 50%;
    border-style: none;
}

.icon img {
    width: 1em;
    height: 1em;
}

.rating h1 {
    margin-top: 1em;
    font-weight: 700;
    font-size: 1.3em;
    color: white;
}

.rating p {
    margin-top: 1em;
    font-size: .87em;
    font-weight: 400;
    color: hsl(216, 12%, 54%);
    line-height: 1.5;
}

.score {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5em;
    height: 3.5em;
    overflow: hidden;
    background-color: hsl(217, 19%, 22%);
    border-radius: 50%;
    border-style: none;
}

.score button {
    color: hsl(216, 12%, 54%);
    transition: .2s;
}

.score button:hover {
    background-color: hsl(25, 97%, 53%);
    color: white;
}

.score button:focus {
    background-color: hsl(216, 12%, 54%);
    color: white;
}

.submit-rating {
    margin-top: 2em;
    color: #fff;
    background-color: hsl(25, 97%, 53%);
    border-style: none;
    padding: 1em 3em;
    border-radius: 3em;
    letter-spacing: 1px;
    transition: .2s;
}

.submit-rating:hover {
    color: hsl(25, 97%, 53%);
    background-color: #fff;
}

#thanks .thanks-img {
    width: 50%;
    max-inline-size: 100%;
    block-size: auto;
}

#thanks {
    justify-content: center;
    align-items: center;
}

#thanks .result {
    background-color: hsl(217, 19%, 22%);
    color: hsl(25, 97%, 53%);
    align-self: center;
    padding: 0.3em 0.3em 0em 0.3em;
    border-radius: .5em;
}

#thanks p {
    text-align: center;
}


@media only screen and (min-width: 375px) {
    .rating {
        width: 300px;
        height: 310px;
        display: flex;
        flex-direction: column;
        background-color: hsl(213, 19%, 18%);
        font-family: 'Overpass', sans-serif;
        border-radius: 7%;
    }
}

.hidden {
    display: none;
}
