/******************GENERAL STYLES*******************/
*, ::after, ::before {
    box-sizing: unset;
}

body {
    margin: 0;
    padding: 0;
    line-height: unset;
}

a {
    text-decoration: none;
}

* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

/*****fonts******/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/******************styles*************************/

header {
    background: #674bb1 url(../images/bg-mobile.svg) no-repeat center center/ cover;
    height: 100vh;
    width: 100%;
    padding: 2em 2em;
    position: relative;
}

.logo {
    display: flex;
    justify-content: flex-start;
    max-inline-size: 50%;
    margin-left: .5em;
}

.logo img { 
    max-inline-size: 100%;
    block-size: auto;
}

.hero {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.hero-img-text { 
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hero-img-text img {
    max-inline-size: 90%;
    block-size: auto;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.hero-text h1 {
    font-size: 1.4rem;
    color: white;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-right: 0;
    max-inline-size: 19ch;
    text-align: center;
}

.hero-text p {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.83);
    font-weight: 400;
    max-inline-size: 33ch;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 1em;
}

.hero-text button {
    font-weight: 400;
    margin-top: 1em;
    color: #a29bbd;
    background-color: white;
    border-radius: 50px;
    border-style: none;
    padding: 1em 4em;
    -webkit-box-shadow: 0px 14px 35px -13px rgba(0,0,0,1);
    -moz-box-shadow: 0px 14px 35px -13px rgba(0,0,0,1);
    box-shadow: 0px 14px 35px -13px rgba(0,0,0,1);
}

.hero-text button:hover {
    color: white;
    background-color: #e980e7;
}

.social {
    position: absolute;
    bottom: 1em;
    font-size: 2em;
    color: white;
}

.social i:hover {
    color: #e980e7;
}

@media only screen and (min-width: 576px) {
    header {
        background: #674bb1 url(../images/bg-desktop.svg) no-repeat center center/ cover;
        height: 100%;
        padding: 3em 3em;
    }

    .logo {
        margin-left: 0;
    }

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero-img-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .hero-img-text img {
        max-inline-size: 100%;
    }

    .hero-text {
        align-items: start;
        margin-left: 4em;
        margin-top: 2em;
        align-self: flex-start;
    }

    .hero-text h1 {
        font-size: 2em;
        text-align: unset;
        margin-top: 0;
        max-inline-size: 23ch;
    }

    .hero-text p {
        font-size: 1em;
        text-align: unset;
        max-inline-size: 49ch;
    }

    .hero-text button {
        font-size: 1em;
        font-weight: 400;
        margin-top: 1em;
        color: #a29bbd;
        background-color: white;
        border-radius: 50px;
        border-style: none;
        padding: 1em 4em;
        -webkit-box-shadow: 0px 14px 35px -13px rgba(0,0,0,1);
        -moz-box-shadow: 0px 14px 35px -13px rgba(0,0,0,1);
        box-shadow: 0px 14px 35px -13px rgba(0,0,0,1);
    }

    .hero-text button:hover {
        color: white;
        background-color: #e980e7;
    }
    
    .social {
        align-self: flex-end;
        margin-top: 3em;
        margin-bottom: 1em;
    }
}
