$font-name: 'Inter';
$font-path: '../assets/fonts/static/';

@font-face {
    font-family: $font-name;
    src: url(#{$font-path}Inter-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: $font-name;
    src: url(#{$font-path}Inter-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: $font-name;
    src: url(#{$font-path}Inter-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}