*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

img {
  display: block;
}

.hidden-success {
  opacity: 0 !important;
}

.visually-hidden {
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

html {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
}

body {
  background-color: hsl(148, 38%, 91%);
  min-height: 100svh;
  display: flex;
}

main {
  flex: 1;
  padding: 30px 15px;
}

svg#asterisk {
  display: none;
}

.icon {
  width: 0.35em;
  height: 0.35em;
  fill: hsl(169, 82%, 27%);
  vertical-align: top;
}

.success {
  position: absolute;
  background-color: hsl(187, 24%, 22%);
  padding: 25px;
  border-radius: 13px;
  top: -100px;
  right: 50%;
  width: 460px;
  transform: translateX(50%);
  opacity: 1;
  transition: opacity 0.5s ease;
}
.success .success-title {
  display: flex;
  color: hsl(148, 38%, 91%);
  margin-block-end: 15px;
}
.success .success-title h1 {
  margin-inline-start: 10px;
  color: hsl(148, 38%, 91%);
  font-size: 1rem;
}
.success p {
  color: hsl(148, 38%, 91%);
}

#contact {
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 15px;
  max-width: 635px;
  position: relative;
}
#contact .error-required, #contact .error-email, #contact .error-query, #contact .required-message {
  color: hsl(0, 66%, 54%);
  margin-top: 10px;
  display: block;
}
#contact #form-title {
  margin-block-end: 25px;
  color: hsl(187, 24%, 22%);
}
#contact .input-control {
  display: flex;
  flex-direction: column;
  margin-block-end: 30px;
}
#contact .input-control label {
  margin-block-end: 10px;
  color: hsl(187, 24%, 22%);
}
#contact .input-control input {
  height: 48px;
  border: 1px solid hsl(186, 15%, 59%);
  border-radius: 7px;
  padding: 0px 15px;
  font-size: 1.1rem;
  color: hsl(169, 82%, 27%);
}
#contact .input-control input:hover, #contact .input-control input:focus {
  cursor: pointer;
  border: 1px solid hsl(187, 24%, 22%);
  outline: none;
}
#contact .query {
  margin-block-end: 30px;
}
#contact .query fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact .query fieldset legend {
  margin-block-end: 10px;
}
#contact .query fieldset .radio {
  width: 100%;
  height: 48px;
  border: 1px solid hsl(186, 15%, 59%);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-block-end: 0 !important;
}
#contact .query fieldset .radio:hover, #contact .query fieldset .radio:focus, #contact .query fieldset .radio:focus-within {
  border: 1px solid hsl(187, 24%, 22%);
  outline: none;
}
#contact .query fieldset .radio.checked {
  background-color: hsl(148, 38%, 91%);
}
#contact .query fieldset label {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  margin-block-end: 0 !important;
  font-size: 1.1rem;
  cursor: pointer;
  position: relative;
}
#contact .query fieldset label input {
  opacity: 0;
  position: absolute;
  left: 0;
  z-index: -1;
}
#contact .query fieldset label .radio-dot {
  width: 18px;
  height: 18px;
  border: 2px solid hsl(148, 38%, 91%);
  border-radius: 50%;
  position: relative;
  display: inline-block;
  margin-inline-start: 25px;
  margin-inline-end: 10px;
}
#contact .query fieldset label input:checked + .radio-dot {
  border: 2px solid hsl(169, 82%, 27%);
}
#contact .query fieldset label input:checked + .radio-dot::before {
  content: "";
  width: 9px;
  height: 9px;
  background-color: hsl(169, 82%, 27%);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#contact .message {
  margin-block-end: 20px;
}
#contact .message textarea {
  height: 240px;
  border: 1px solid hsl(186, 15%, 59%);
  border-radius: 7px;
  padding: 10px 15px;
  line-height: 1.4;
  font-family: "Karla", sans-serif;
  font-size: 1.1rem;
  resize: none;
  color: hsl(187, 24%, 22%);
}
#contact .message textarea:hover, #contact .message textarea:focus {
  cursor: pointer;
  border: 1px solid hsl(187, 24%, 22%);
  outline: none;
}
#contact .consent-div label {
  margin-block-end: 0px !important;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#contact .consent-div label .icon {
  align-self: start;
}
#contact .consent-div #consent-input {
  display: none;
}
#contact .consent-div .checkmark {
  margin-inline-end: 20px;
  min-width: 20px;
  max-height: 20px;
  min-height: 20px;
  background-color: white;
  border: 1px solid hsl(187, 24%, 22%);
  border-radius: 0px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
#contact .consent-div .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  top: 3px;
  width: 4px;
  height: 9px;
  border: white solid;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
#contact .consent-div #consent-input:checked + .checkmark {
  background-color: hsl(169, 82%, 27%);
}
#contact .consent-div #consent-input:checked + .checkmark:after {
  display: block;
}
#contact button[type=submit] {
  background-color: hsl(169, 82%, 27%);
  color: hsl(0, 0%, 100%);
  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
  padding: 15px;
  border-radius: 7px;
}
#contact button[type=submit]:hover {
  background-color: hsl(187, 24%, 22%);
}

@media screen and (min-width: 690px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
  }
  #contact {
    padding: 40px;
  }
  .name {
    display: flex;
    justify-content: space-between;
  }
  .name input {
    width: 270px;
  }
  .name .input-control {
    margin-inline-end: 15px;
  }
  .query fieldset {
    flex-direction: row !important;
    justify-content: space-between !important;
  }
  .query fieldset .radio {
    max-width: 270px;
  }
  .message textarea {
    height: 96px !important;
  }
}/*# sourceMappingURL=style.css.map */